<h1>{{name}} Details</h1>
<img src="/images/avatar-pets/{{this.avatar}}" alt="{{this.type}} image profile">


<ul>
<li>Country: {{country}}</li>
<li>Gender: {{gender}}</li>
<li>Favourite food: {{favouriteFood}}</li>
 <li>Owner: {{user.name}} <button onclick="document.getElementById('{{user._id}}').innerHTML='Email: {{user.email}}<br><br>Telephone:{{user.telephone}}'"> CONTACT </button></li>
        <p id="{{user._id}}"></p>
</ul>


{{#if session.user}}
<a href="/pets/{{_id}}/edit">Edit</a> <br>

<form action="/pets/{{_id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>
<hr>
{{else}}
{{/if}}
<a href="/pets">Back</a>

