<h1>{{name}} Details</h1>
<img src="/images/avatar-pets/{{this.avatar}}" alt="{{this.type}} image profile">


<ul>
<li>City: {{city}}</li>
<li>Gender: {{gender}}</li>
<li>Favourite food: {{favouriteFood}}</li>
</ul>


{{#if session.user}}
<a href="/pets/{{_id}}/edit">Edit</a> <br>

<form action="/pets/{{_id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>
<hr>
{{else}}
{{/if}}
<a href="/pets">Back</a>

