<section class="flex-row pet-details">
<div>
<img src="/images/avatar-pets/{{pet.avatar}}" alt="{{pet.type}} image profile">
</div>
<div>
<h1>{{pet.name}}</h1>
<ul>
<li>Type: {{pet.type}}</li>
<li>City: {{pet.city}}</li>
<li>Description: <br>{{pet.description}}</li>
<li>Breed: {{pet.breed}}</li>      
<li>Gender: {{pet.gender}}</li>
<li>Favourite food: {{pet.favouriteFood}}</li>
<br>
{{#if userIn}}
<li>Owner: {{pet.user.name}} <button onclick="document.getElementById('{{pet.user._id}}').innerHTML='Email: {{pet.user.email}}<br><br>Telephone:{{pet.user.telephone}}'"> CONTACT </button></li>
<p id="{{pet.user._id}}"></p>
   {{else}}
        <li>Owner: {{pet.user.name}} <button onclick="document.getElementById('text').innerHTML='To see contact details please consider to Register/Login.'">CONTACT</button></li>
        <p id="text"></p>
        {{/if}}
</ul>
{{#if isOwner}}
<a href="/pets/{{pet._id}}/edit">Edit</a>
<br>
<form action="/pets/{{pet._id}}/delete" method="POST">
<button onclick="return confirm('Are you sure you want this pet?')">Delete</button>
</form>
{{/if}}
<br>
<a href="/pets">Back</a>
</div>
</section>