<h1>List of Pets</h1>
{{#each pets}}
<section>
    <img src="/images/avatar-pets/{{this.avatar}}" alt="{{this.type}} image profile">
    <h2>{{name}}</h2>
    <ul>
        <li>Breed: {{this.breed}}</li>
        <li>City: {{this.city}}</li>
        <li>Gender: {{this.gender}}</li>
        <li>Favourite food: {{this.favouritefood}}</li>
        <p>Description: <br>{{description}}</p>
    </ul>
    <a href="/pets/{{this.id}}">More details</a>
    <hr>
</section>
{{/each}}
