{{!-- <form action="/pets/search" method="POST">
    <select name="type" required>
        <option value="dog" selected>Dog</option>
        <option value="cat">Cat</option>
    </select>
    <select name="country">
        {{#each pets}}
        <option value="{{this.country}}">{{this.country}}</option>
        {{/each}}
    </select>   
    <button type="submit">Search</button>
</form> --}}


<h1>List of Pets</h1>
{{#each pets}}
<section>
    <h2>{{name}}</h2>
    
    <ul>
        <li>Breed: {{this.breed}}</li>
        <p>Description: <br>{{description}}</p>

        {{!-- <li>{{this.imageFile}}</li><br> --}}
        
        <li>Owner: {{user.name}} <button onclick="document.getElementById('{{user._id}}').innerHTML='Email: {{user.email}}<br><br>Telephone:{{user.telephone}}'"> CONTACT </button></li>
        <p id="{{user._id}}"></p>
    </ul>
    <a href="/pets/{{this.id}}">More details</a>
    <hr>
</section>
{{/each}}
