<section>
<section class="filter">
    <div class="flex-row flex-center">
        <form class="flex-row search-bar" action="/pets?{{req.query}}" method="GET">
            <select name="type" required>
                <option value="dog" selected>Dog</option>
                <option value="cat">Cat</option>
            </select>
            <input type="text" name="city" placeholder="your city" required>
            <button type="submit">Search</button>

            <a href="/pets">View all</a>
        </form>
    </div>
    <br>
        {{#if noResults}}
        <h2 class="flex-row flex-center message-negative">It seems there are no available pets in your selected city!</h2>
        <br>
        {{/if}}
</section>

<section class="flex-row pets-list">
    {{#each pets}}
    <div class="pet-card grow">
        <img src="/images/avatar-pets/{{this.avatar}}" alt="{{this.type}} image profile">
        <h2 class="name">{{this.name}}</h2>
        <br>
        <ul>
            <li>City:</li>
            <li><p>{{this.city}}</p></li>
            <li>Description:</li>
            <li><p>{{this.description}}</p></li>
        </ul>
        <br>
        <div class="flex-row flex-center">
            <a class="crud-button" href="/pets/{{this.id}}">+ More details</a>
        </div>
        
    </div>
    {{/each}}
</section>
</section>