<section class="filter">
    <div class="flex-row search-bar">
        <form action="/pets?{{req.query}}" method="GET">
            <select name="type" required>
                <option value="dog" selected>Dog</option>
                <option value="cat">Cat</option>
            </select>
            <input type="text" name="city" placeholder="Where? Introduce your city" required>
            <button type="submit">Search</button>
            
            <a href="/pets">View all</a>
        </form>  
              {{#if result}}
            <h1 class="filter">It seems there are no available pets in your selected city!</h1>
            {{/if}}
    </div>
</section>
  
<section class="flex-row pets-list">
    {{#each pets}}
    <div class="pet-card grow">
        <img src="/images/avatar-pets/{{this.avatar}}" alt="{{this.type}} image profile">
        <h2 class="name">{{this.name}}</h2>
        <br>
        <ul>
            <li>City: {{this.city}}</li>
            <li>Description: <br>{{this.description}}</li>
            {{!-- {{#if ../loggedIn}}
            <li>Owner: {{user.name}} <button
                    onclick="document.getElementById('{{this._id}}').innerHTML='Email: {{user.email}}<br><br>Telephone:{{user.telephone}}'">
                    CONTACT </button></li>
            <p id="{{this._id}}"></p>
            {{else}}
            <li>Owner: {{user.name}} <button
                    onclick="document.getElementById('{{this._id}}').innerText='To see contact details please consider to Register/Login' ">CONTACT</button>
            </li>
            <p id="{{this._id}}"></p>
            {{/if}} --}}
        </ul>
        <br>
        <a href="/pets/{{this.id}}">More details</a>
    </div>
    {{/each}}
</section>