<h1>List of Pets</h1>
{{#each pets}}
<section>
    <img src="/images/avatar-pets/{{this.avatar}}" alt="{{this.type}} image profile">
    <h2>{{name}}</h2>
    <h4> {{this.type}}</h4>
    <ul>
        <li>Breed: {{this.breed}}</li>
        <li>Country: {{this.country}}</li>
        <li>Gender: {{this.gender}}</li>
        <li>Favourite food: {{this.favouritefood}}</li>
        <br>
        <li>Owner: {{user.name}} <button onclick="document.getElementById('{{user._id}}').innerHTML='Email: {{user.email}}<br><br>Telephone:{{user.telephone}}'"> CONTACT </button></li>
        <p id="{{user._id}}"></p>
    </ul>
    <a href="/pets/{{this.id}}">More details</a>
    <hr>
</section>
{{/each}}
