<h1>Profile Page</h1>
<hr />
<br />
<h3>Account details</h3>
<form action="/user/edit/{{user._id}}" method="POST">
  <label>
    Name:
    <input type="text" name="name" value="{{user.name}}" required/>
  </label>

  <label>
    email:
    <input type="email" name="email" value="{{user.email}}" required/>
  </label>

  <label>
    Telephone:
    <input type="tel" name="telephone" value="{{user.telephone}}" placeholder="33322333" pattern="[0-9]{3}[0-9]{2}[0-9]{3}"/>   
  </label>

  <button>Save changes</button>
  <br />
</form>
<form method="post" action="/user/edit/{{user._id}}/delete">

  <button onclick="return confirm('Do you want to delete your account? All your pets will be removed')">Delete Account</button>
</form>
<br>
<a href="/user/profile">Back</a>

