<h1>Profile Page</h1>
<hr>
<br>
{{#if session.user}}
<h2>Welcome {{session.user.name}}!</h2>
<h3>Account details</h3>
<div>
<img src="/images/avatar-user.png" alt="{{session.user.name}} profile image">
</div>
<div>
<p>Name: {{session.user.name}}</p>
<p>Email: {{session.user.email}}</p>
<p>Tel.: {{session.user.telephone}}</p>
</div>
  <div>
<a href="/user/edit/{{session.user._id}}">Edit</a>
  </div>

{{else}}
  <p>Please login to see your profile page</p>
{{/if}}