<header>
  <h1>Profile Page</h1>
  <br>
  {{#if session.user}}
  <h2>Welcome {{session.user.name}}!</h2>
  <br>
</header>
<section>
  <div>
    <h3>Account details</h3>
    <a href="/user/edit/{{session.user._id}}">Edit</a>
  </div>
  <hr>
  <br>
  <div>
    <img src="/images/{{session.user.avatar}}" alt="{{session.user.name}} profile image">
    <div>
      <p>Name: {{session.user.name}}</p>
      <p>Email: {{session.user.email}}</p>
      <p>Tel.: {{session.user.telephone}}</p>
    </div>
  </div>
</section>

<section>
    <h3>My Pets</h3>
  <hr>
  <br>
  {{#each pets}}
  <div>
    <img src="/images/avatar-pets/{{this.avatar}}" alt="{{this.name}} profile image">
    <div>
      <p>Name: {{this.name}}</p>
      <p>Type: {{this.type}}</p>
      <p>Breed: {{this.breed}}</p>
      <a href="/pets/{{this._id}}/edit">Edit Pet</a>
    </div>
  </div>
  <br>
  {{/each}}
</section>

{{else}}
<p>Please login to see your profile page</p>
{{/if}}