<div class="profile-section">
  <header>
    {{#if session.user}}
    <h1>Welcome {{session.user.name}}!</h1>
    <br>
    {{#if session.user.telephone}}
    {{else}}
    <p id="message-negative">Your profile is incomplete, please <a href="/user/edit/{{session.user._id}}">update</a> your information.</p>
    <br>
    {{/if}}
  </header>
  <section class="flex-column">
    <div class="account-section">
      <div class="flex-row header-options">
        <h2>Account details</h2>
        <a class="crud-button" href="/user/edit/{{session.user._id}}">Edit</a>
      </div>
      <hr>
      <br>
      <div class="flex-row">
        <img class="img-profile" src="/images/{{session.user.avatar}}" alt="{{session.user.name}} profile image">
        <div>
          <p>Name: {{session.user.name}}</p>
          <p>Email: {{session.user.email}}</p>
          <p>Tel.: {{session.user.telephone}}</p>
        </div>
      </div>
    </div>

    <div>
      <div class="flex-row header-options">
        <h2>My Pets</h2> 
        <a class="crud-button" href="/pets/create">+ Add</a>
      </div>
      <hr>
      <br>
      {{#each pets}}
      <div class="flex-row">
        <div class="pet-profile">
          <img class="img-profile" src="/images/avatar-pets/{{this.avatar}}" alt="{{this.type}} image profile">
          <h2>{{this.name}}</h2>
        </div>
        <div>
          <ul>
            <li>City: {{this.city}}</li>
            <li>Description: <br>{{this.description}}</li>
            <li>Type: {{this.type}}</li>
            <li>Breed: {{this.breed}}</li>
            <li>Gender: {{this.gender}}</li>
            <li>Favourite food: {{this.favouriteFood}}</li>
          </ul>
          <br>
          <div class="flex-row">
            <a class="crud-button" href="/pets/{{this._id}}/edit">Edit</a>
            <form action="/pets/{{this._id}}/delete" method="POST">
              <button class="crud-button" onclick="return confirm('Are you sure you want this pet?')">Delete</button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </section>

  {{else}}
  <p>Please login to see your profile page</p>
  {{/if}}
</div>